doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title #{pageTitle}
   body 
      form(action="/admin/add-card" method="POST")
         input(type="text" name="cardText")
         input(type="radio" name="card" value="black")
         label(for="black") Black Card 
         input(type="radio" name="card" value="white")
         label(for="white") White Card
         button(type="submit") Add Card