doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title #{pageTitle}
      link(rel="stylesheet", href="/css/index.css")
      script(src="/js/main.js") 
   body 
      .flex-container 
         .flex-child
            .flip-card
               .flip-card-inner
                  .flip-card-front 
                     img(src="https://upload.wikimedia.org/wikipedia/commons/1/19/Cards_Against_Humanity_logo.png", alt="White Card" style="width:400px;height:400px;")
                  .flip-card-back
                     p Random Black Card: #{blackText}
         .flex-child
            .flip-card
               .flip-card-inner
                  .flip-card-front 
                     img(src="http://mywastedlife.com/CAH/img/back-white.png", alt="White Card" style="width:400px;height:400px;")
                  .flip-card-back
                     p Random White Card: #{whiteText}

      form(action="/", method="get") 
         //- button(type="hidden" class="btn") Generate