doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title #{pageTitle}
      link(rel="stylesheet", href="/css/index.css")
      script(src="/js/main.js") 
   body 
      .flex-container 
         .flex-child
            .flip-card
               .flip-card-inner
                  div(class="flip-card-front") 
                     img(src="/img/Black.png", alt="Black Card" style="width:400px;height:400px;")
                  div(class="flip-card-back black")
                     p #{blackText}
         .flex-child
            .flip-card
               .flip-card-inner
                  div(class="flip-card-front") 
                     img(src="/img/White.png", alt="White Card" style="width:400px;height:400px;")
                  div(class="flip-card-back white")
                     p #{whiteText}

      form(action="/", method="get") 
         //- button(type="hidden" class="btn") Generate